<div class="container-fluid mt-3">
    <div class="container-fluid d-flex bg-dark shadow-lg text-white pt-3 pb-3 shadow-lg">
        <img src="https://github.com/mdo.png" alt="mdo" width="42" height="42"
            class="rounded-circle me-3">
        <h5>firstName lastName</h5>
    </div>
    <div class="container bg-dark text-white">
        <h2 class="text-center">Title</h2>
        <p class="text-center">Question</p>
        <div id="row_cmnt" class="row row_coment">
            <div class="col-12 w-75 rounded p-2 m-3 bg-secondary">
                <h6>name</h6>
                <p>comment</p>
            </div>
        </div>
        <a id="txt_vac" class="text-center" (click)="vacomment()">View All Comment</a>
        <form>
            <div class="row p-2">
    
                <div class="col-10">
                    <input type="text" class="form-control" placeholder="Enter email"
                        placeholder="comment">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary">Send</button>
                </div>
    
            </div>
        </form>
    </div>
</div>

